# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=lupa_maya_db
DB_USER=root
DB_PASSWORD=

#CLAVE SECRETA DE JWT
JWT_SECRET=tdqwnkldnoqndocnwocnuinhuih3i98oinknonknknjknjkbjkjaxas

PORT=5000
VITE_API_URL=http://localhost:5000
